@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.img-profile {
	width: 50%;
}

@media (min-width: 992px) {
	.img-profile {
		width: 20%;
	}	
}

.header-title {
	margin: 5px 0;
	text-align: center;
}

.header-button {
	margin: 5px 0;
	text-align: center;
}

@media (min-width: 992px) {
	.header-title {
		margin: 5px 0;
		text-align: left;
	}

	.header-button {
		margin: 5px 0;
		text-align: right;
	}

}

.bg-blue {
	background-color: #3d6cb9;
}


.bg-light-blue {
	background-color: #cefff1;
}

.img-carousel:hover {
	cursor: e-resize;
}

.img-carousel {
	height: 200px;
}

@media (min-width: 992px) {
	.img-carousel {
		height: 400px;
	}
}

textarea {
	min-height: 90px;
	max-height: 120px;
}

hr {
	background-color: #FB3D1F;
	height: 2px;
	width: 15%;

}

.heading_2 {
	font-size: 1.4em !important;
}

.heading_3 {
	font-size: .92em !important;
}

@media(min-width: 992px) {
	.heading_2 {
		font-size: 1.5em !important;
	}

	.heading_3 {
		font-size: 1.13em !important;
	}
}



::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: #39C4DA;    
}
 
::-webkit-scrollbar-thumb {
    background: #0691A7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #047085;
}

.select2 {
	display: block!important;
	width: 100%!important;
	height: calc(1.5em + 0.75rem + 2px)!important;
	padding: 0.375rem 0.75rem!important;
	font-size: 1rem!important;
	font-weight: 400!important;
	line-height: 1.5!important;
	color: #495057!important;
	background-color: #fff!important;
	background-clip: padding-box!important;
	border: 1px solid #ced4da!important;
	border-radius: 0.25rem!important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out!important;
}

.select2 span {
	border: none!important;
	margin: 0!important;
	padding: 0!important;
}
@media( min-width: 768px ) {
	.content-wrapper {
		min-height: 530px!important;
	}
	.dashboard {
		height: 450px!important;
		overflow-y: auto!important;
	}
}

@media( max-width: 768px ) {
	.tidak_tampil {
		display: none;
	}
	.content-wrapper {
		min-height: 490px!important;
	}
	.dashboard {
		height: 450px!important;
		overflow-y: auto!important;
	}

	/* ALL (include: mobile and desktop) */
	h1 {
		font-size: 2.05em !important;
	}

	h2 {
		font-size: 1.6em !important;
	}

	h3 {
		font-size: 1.23em !important;
	}

	h4 {
		font-size: 1.1em !important;
	}

	h5 {
		font-size: 0.95em !important;
	}

	h6 {
		font-size: 0.7em !important;
	}

	p, th, td, a, ul li a, button, label, input, span, small, select, option, .jumlah-laporan {
		font-size: 0.95em !important;
	}

}
